

{% extends 'trainee/dashboard.html' %}
{% load static %}
{% block content %}
<html>
<head>
    <title>Enrollments</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'trainee/style.css' %}">
</head>
<body>
    <div class="container mt-4">
        <h2>Enrollments</h2>
    <div class="d-flex flex-wrap">
        <div class="col-md-4">
            <!-- Filters or search inputs can go here -->
        </div>
        <div class="col-md-8">
            <div class="table-responsive">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Trainee Name</th>
                        <th>Course Name</th>
                        <th>Enrollment Date</th>
                        <th>Training Period(in months)</th>
                        <!-- Add more columns as needed -->
                    </tr>
                </thead>
                <tbody>
                    {% for enrollment in enrollments %}
                    <tr>
                        <td>{{ enrollment.trainee.name }}</td>
                        <td>{{ enrollment.course.name }}</td>
                        <td>{{ enrollment.enrollment_date }}</td>
                        <td>{{ enrollment.training_period }}</td>
                        <!-- Add more columns as needed -->
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>


{% endblock %}