{% extends 'trainee/base.html' %}
{% load static %}
{% block content %}

<html>
<head>
    <title>Enrollments</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'trainee/style.css' %}">
</head>
<body>
    <h3>Trainer List</h3>
    <div class="row">
        <div class="col-md-6">
            <ul class="list-group">
                {% for trainer in trainers %}
                <li class="list-group-item">{{ trainer.name }}</li>
                {% endfor %}
            </ul>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>

{% endblock %}
