{% extends 'trainee/base.html' %}
{% load static %}
{% block content %}

<html>
<head>
    <title>Enrollments</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'trainee/style.css' %}">
</head>
<body>
    <h3 style="text-align:center;">Training Center List</h3>
    <div class="container">
    <div class="row">
        <div class="col-md-4">
            <!-- Filters or search inputs can go here -->
        </div>
        <div class="col-md-8">
            <div class="table-responsive mx-auto">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>Training Center Name</th>
                            <th>Location</th>
                            <th>Contact Email</th>
                            <!-- Add more columns as needed -->
                        </tr>
                    </thead>
                    <tbody>
                        {% for center in centers %}
                        <tr>
                            <td>{{ center.name }}</td>
                            <td>{{ center.location }}</td>
                            <td>{{ center.contact_email }}</td>
                            <!-- Add more columns as needed -->
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <!--<div class="col-md-6">
            <ul class="list-group">
                {% for center in centers %}
                <li class="list-group-item">{{ center.name }}</li>
                {% endfor %}
            </ul>
        </div>-->
    </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>

{% endblock %}

